.DS_Store

node_modules/
dist/

.env
**local.*

.agents/*
!.agents/skills/
.agents/skills/*
!.agents/skills/tofrankie-config-release/
!.agents/skills/tofrankie-config-release/**

.husky/_/
.eslintcache
.stylelintcache
**/docs/**